*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #e1e3f3;

}
.navbar{
    width: 100%;
    background-color: #7952b3;
    border: none;
    min-height: 90px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.nav_logo .logo img{
    width: 60px;
    height: 56px;
    filter:invert(2%) grayscale(15%) sepia(0.5) saturate(2) hue-rotate(1deg) opacity(0.7) brightness(1) contrast(1);
    background-blend-mode: saturation;
}
.nav_logo{
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 0 10px;
    
}
.nav_logo a{
    text-transform: capitalize;
    font-size: 25px;
    margin: 0 10px;
}
.nav_logo a:active{
    color: #fff;
}
.nav_logo a:hover{
    color: #fff;

}
.navicon{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 20%;
    margin: 0 20px;
}
.navicon .icons{
    margin-left: 50px;
}
.icons img{
    width: 25px;
    margin: 0 10px;
    filter:invert(100%) grayscale(100%) sepia(0.8) saturate(3) hue-rotate(180deg) opacity(0.7) brightness(100%) contrast(100%);
}
.icons .btn{
    margin: 30px;
}
.navicon input[type=button]{
    width: 160px;
    padding: 15px;
    font-size: 20px;
    color:yellow;
    background-color: #7952b3;
    border: 1px solid yellow;
    border-radius: 9px;
}
.banner{
    font-size: 42px;
    position: relative;
    width: 80%;
    margin: 90px auto;
    background-color:#f7f4fb;
    background-image: linear-gradient( to bottom right, #f7f4fb,#fff);
}
.bannerClass{
    display: flex;
    margin: 10px;
    
}
.banner_text{
    width: 100%;
}
.banner_img{
    width: 50%;
}
.banner_img img{
    width: 100%;
}
.banner_text h1{
    font-size: 99px;
}
.bannerBtn input[type=button]{
    width: 15%;
    padding: 30px;
    border-radius: 8px;
    font-size: 25px;
    
}
.btnA{
    background-color: #7952b3;
    color:#fff;
}.btnB{
    background-color: #fff;
}
.bannerFootnote{
    display: flex;
    margin:  29px 0;
    font-size: 25px;
    text-transform: capitalize;
    color:  #495057;
}
.bannerFootnote a{
    margin: 0 19px;
    color: #6c757d;
    border-bottom: 1px dotted;
}
.page_install{
    margin: 0 auto;
    width: 80%;
    font-size: 45px;
}

.page_01{
    display: flex;
}
.page_01 .pageText{
    width: 55%;
    font-size: 25px;
    margin:0 20px;
}
.page_01 .pageText h2{
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0;
}
.page_01 .pageText p{
    margin: 20px 0;
}
.page_01 .pageText p a{
    color: blue;
    text-decoration:underline;
}
.pageCode{
    width: 55%;
    font-size: 25px;
    position: relative;
    top: 40px;
    margin: 0 50px;
}
.pageCode .axz{
    width: 100%;
    padding: 45px;
    margin: 20px 0;
    background-color: #f8f9fa;
    color:    #212529;
}
.pageCode button{
    padding: 9px;
    position: absolute;
    left: 250px; 
    margin: -20px 435px;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
}
.language-sh::before{
    color: #009;
    content: "$ ";
}
.pageBtn{
    margin: 18px;
}
.pageBtn input[type=button]{
    padding: 25px;
    font-size: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    Color: blue;
    background-color: #fff;
}